<ion-header>
  <ion-toolbar color="secondary" opacity>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="././assets/bhilwaracntct.jpg"></ion-img>
    <ion-card-content>
        We are a technology consulting and implementation company, our aim is to harness the latest in technology to provide functional, efficient and cost effective solutions. We believe technology is a means to an end… therefore becoming a cog in the wheel of a complete solution.
    </ion-card-content>
  </ion-card>
</ion-content>
