<ion-header>
  <ion-toolbar color="secondary" opacity>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to Bhilwara Infotech</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/logonew.png"></ion-img>
    <ion-card-content>
      Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the largest employers in India.
    </ion-card-content>
  </ion-card>
</ion-content>
