<ion-header>
  <ion-toolbar color="secondary" opacity>
    <ion-title>
      Project
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-img src="././assets/edtech.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="././assets/agritech1.png"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="././assets/bhil1.jpg"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Project I</ion-card-title>
      <ion-card-content>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>


