<ion-header>
  <ion-toolbar color="secondary" opacity>
    <ion-title>
      Reach Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="././assets/bhilwaracntct.jpg"></ion-img>
    <ion-card-content>
      <ion-icon name="call" size="large"></ion-icon><ion-label>+91-80-46306666</ion-label><br><br>
      <ion-icon name="today" size="large"></ion-icon><ion-label>#244, Fortune Summit Business Park
        1st Floor, Hosur Road 
        Near Silk Board Junction
        Bengaluru, India – 560068.</ion-label><br><br>
      <ion-icon name="print" size="large"></ion-icon><ion-label>+91-80-41466262</ion-label><br><br>
      <ion-icon name="mail" size="large"></ion-icon><ion-label>info@bhilwarainfo.com</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
